/* Geral */
*{
    padding: 0;
    margin: 0;
    font-family: "Varela Round", sans-serif;
    color: #333;
    box-sizing: border-box;
}

body{

    background-image: url("../img/lofi-background.png");
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width: 768px) {
    .todo-container {
    max-height: 70vh;
    overflow-y: auto;
    width: 50vh;
    }

}

.buttonArea button{
    background-color: #FDFDFD;
    color: #4E5D48;
    border: 2px solid #313b2e;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.buttonArea button:hover{
    background-color: #4E5D48;
    color: #FFF;
}

.buttonArea button:hover > i{
    color: #FFF;
}

.buttonArea button i {
    color: #4E5D48;
    font-weight: bold;
    pointer-events: none;
}

input, select{
    padding: 0.25rem 0.5rem;
}    

#msg{
    margin-top: 14px;
    font-size: 20px;
}

.hide{
    display: none;
}

/*To-do header*/
.todo-container{
    max-width: 450px;
    margin: 3rem auto;
    background-color: #33333315;
    padding: 1.5rem;
    border-radius: 15px;
    border: 2px solid #fff;

    backdrop-filter: blur(15px);
}

.todo-container header{
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

/*To-do form*/
#todo-form, #edit-form{
    padding: 1rem;
    border-bottom: 1px solid #CCC;
}

#todo-form p,
#edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}

.form-control{
    display: flex;
}

.form-control input{
    margin-right: 0.3rem;
    border: 1px solid #4E5D48;
    outline: none;
}

#cancel-edit-btn{
    margin-top: 1rem;
}

/*To-do toolbar*/
#toolbar{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4{
    margin-bottom: .5rem;
}

#search{
    border-right: 1px solif #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form{
    display: flex;
}

#search input{
    width: 100%;
    margin-right: 0.3rem;
}

#filter{
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select{
    flex: 1; /*Crescer automaticamente até a área do fim*/
}

/* To-do List*/
.todo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: .3s;
}

.todo h3{
    flex: 1;
    font-size: 0.9rem;
    color: #fff;
}

.todo button{
    margin-left: 0.4rem;
}

.done{
    background-color: #646e60;
}

.done h3{
    color: #ffffff;
    text-decoration: line-through 2px #000000;
    font-style: italic;
}

